.form-group {
    position: auto;
    padding-top: 1rem;

   }
   .form-label {
    position: auto;
    padding-top: 1rem;
    
   }
.home {

    background-image: url("../img/snowf.jpg");
    text-indent: 1em; /* Отступ первой строки */
    text-align: justify; /* Выравнивание по ширине */
    padding-bottom: 350px;
    }
   
