.bg {

    background-image: url("../img/snowbg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;

}

.parent {
    background-image: url("../img/snowbg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
}

.block {
    display: block;
    background-color: rgb(255, 255, 255);
    width: 15%;
    height: 30%;
    display: flex;
    align-items: center;
    padding: 10px;
    border-width: 7px;
    border-style: ridge;
    border-color: cornflowerblue;
    margin-left: auto;
    margin-right: auto;
    width: 20em
}

.text-field {
    outline: none;
}

.contact_form li:first-child,
.contact_form li:last-child {
    border-bottom: 1% solid #777;
}

.contact_form h2 {
    margin: 0;
    color: cornflowerblue;
    align-items: center;


}

.required_notification {
    color: cornflowerblue;
    margin: 5px 0 0 0;
    float: center;
}


.contact_form input {
    height: 20%;
    width: 185px;
    padding: 5px 8px;
    border: 1% solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius: 2px;
    background: #fff;
    border: 1% solid #555;
    margin-left: auto;
    margin-right: auto;
    width: 20em
}

button.submit {
    background-color: #1d69db;
    border-bottom: 1% solid #1d69db;
    border-radius: 3%;
    -webkit-border-radius: 3%;
    -moz-border-radius: 3%;
    -ms-border-radius: 3%;
    -o-border-radius: 3%;
    box-shadow: inset 0 1% 0 0 #7496d5;
    -webkit-box-shadow: 0 1% 0 0 #7496d5 inset;
    -moz-box-shadow: 0 1% 0 0 #7496d5 inset;
    -ms-box-shadow: 0 1% 0 0 #7496d5 inset;
    -o-box-shadow: 0 1% 0 0 #7496d5 inset;
    color: white;
    font-weight: bold;
    padding: 6px 20px;
    text-align: center;
    text-shadow: 0-1% 0 #26148f;
    text-decoration: none;
    width: 50%;
    height: 30%;
    position: relative;
    bottom: -20px;
    /* Положение от нижнего края */
    right: -25%;
    /* Положение от правого края */
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: .5em 2em;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #4a82d6 #000 #bac6da;
    border-radius: 6px;
    background: linear-gradient(#447ed4, #a7b7d4)#1d69db;
    transition: 0.2s;
}

button.submit:hover {
    opacity: .85;
    cursor: pointer;
    background: linear-gradient(#a7b7d4, #447ed4) #1d69db;
}

button.submit:active {
    background: linear-gradient(#447ed4, #a7b7d4) #1d69db;
}

