.button{
    height: 30px;
  width: 70px;
  margin: 0 12px;
  border: none;
  outline: none;
  font-size: 15px;
  border-radius: 20px;
  cursor: pointer;
  background-color: rgb(163, 208, 219);
  color: rgb(12, 2, 34);
  border: 2px solid rgb(32, 33, 107);
}