
.button {
  color: #fff; /* цвет текста */
  text-decoration: none; /* убирать подчёркивание у ссылок */
  user-select: none; /* убирать выделение текста */
  background: rgb(6, 133, 218); /* фон кнопки */
  padding: .7em 1.5em; /* отступ от текста */
  position: relative  ;
  left: 4%;
 }

 .button_new {
  color: #fff; /* цвет текста */
  text-decoration: none; /* убирать подчёркивание у ссылок */
  user-select: none; /* убирать выделение текста */
  background: rgb(11, 7, 241); /* фон кнопки */
  padding: .7em 1.5em; /* отступ от текста */
  position: relative  ;
  left: 2%;
 }

 body {
  padding: 0;
  margin: 0;
  background: rgb(180, 224, 235) url(s1200.webp) no-repeat center top;
  width: 100%;
  display: table;
}