<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Drinks base</title>
</head>
<body>
<form method="POST" action="/search">
<p>Choose category of drink:</p>
<input type = 'checkbox' name = 'alc' value = 'Alcoholic'> Alcoholic <br>
<input type = 'checkbox' name = 'nonalc' value = 'Non-alcoholic'> Non-alcoholic<br>
    <p><input type="submit" value = 'Find!'></p>
</form>
<form method="POST" action="/search">
    <input name="byName">
    <input type="submit", value="Find!">
</form>
</body>
</html>